<h1>Help &amp; Support</h1>

<h2>About Bespoke Offers</h2>
<h3>What is Bespoke Offers?</h3>
<p>Bespoke Offers is a digital offers service from Barclaycard. Merchants can create offers for consumers and our insight into consumer spending behaviour means that offers will go to the consumers who want them. And best of all, Bespoke Offers is for everyone (aged 18 and over), not just Barclaycard customers.</p>
<h3>How will this help my business?</h3>
<p>Bespoke Offers is a cost effective way to target the right customers and drive sales for your business. You're in control of your offer and who you want to target. And with our prepaid offers you only pay commission to us when you sell an offer, so you don't waste any marketing budget. You could use this service to help your business grow by targeting new customers, selling excess stock, promoting new products or trying to drive traffic during quieter periods.  You will be able to track the success of your promotion and find out more information on the demographics of your customers through detailed reporting.  </p>
<h3>Do I have to be a Barclaycard merchant to use Bespoke Offers?</h3>
<p>No, Bespoke Offers is available to all merchants.</p>
<h3>How do you target my offers to customers?</h3>
<p>Our insight into consumer spending means that we can put your offers in front of the customers who are most likely to buy them. We get this data from Barclaycard and Barclays customers spend behaviour.</p>
<h3>How will customers use Bespoke Offers?</h3>
<p>Customers can sign up to receive emails from us, they can visit our Bespoke Offers website, or they can download our Bespoke Offers mobile app. When they register with us, they'll always see those offers that are the most relevant for them.</p>
<!--
<h3>How do I start using Bespoke Offers?</h3>
<p>As part of the registration process we will perform a few quick checks on your business, which may involve a credit check. In the meantime you can start to create your first offer. We'll review your registration as well as your offer and will let you know once you're ready to go.</p>
<h2>Registration and My account</h2>
<h3>I'm having problems logging in – what can I do?</h3>
<p>To log in you'll need your email address and password you chose when you registered.</p>
<h3>How can I change my details?</h3>
<p>You can change your details by completing the <%= link_to 'contact us', new_info_request_path %> web form.</p>
<h3>Do I need to tell you about all of my outlets? How do I do this?</h3>
<p>When you first set up an offer you'll be asked to enter the details of your outlets. This will give you the flexibility to create offers at a store level and will help us to better match your offer with customers who live or shop nearby. Customers will also be able to find your stores on their mobile app. You will be asked if you have more than 5 stores as part of the set up process, if you do we will contact you to gather this information.</p>
<h3>Where is my data stored?</h3>
<p>Your data is stored securely and kept for as long as permitted for legal and regulatory purposes. It will be kept private and confidential and not shared with 3rd parties unless you have agreed.</p>
<h2>Creating an Offer</h2>
<h3>How do I create an offer? </h3>
<p>When you register, you'll be taken through our offer set up process. You can choose your business objective and will need to consider when you want to run the offer, what the offer is and who you want to target. You can limit the number of offers available and where and when it can be used.</p>
<h3>What is the difference between free and pre-paid offers? </h3>
<p>A prepaid offer is where customers pay ahead for your item or service. They'll receive an offer code as proof of purchase, which lets them claim the paid for item or service at your outlet, on your website or over the phone.</p>

<p>A free offer is where customers will download a voucher code to use it when paying for your item or service. They will not be charged for these offers.</p>
<h3>Is there a minimum/maximum amount of time an offer has to be available for? </h3>
<p>Yes, an offer can be promoted on Bespoke Offers for a minimum of 1 day and a maximum of 90 days. </p>
<h3>Why do I need to set a maximum number of vouchers?</h3>
<p>We need you to set a maximum number of vouchers to help you feel more comfortable about running your offer. This way you are in control of how many vouchers are provided so you are able to provide a consistent excellent service to your customers, and you won't have to take on more then you can handle.</p>
<h3>I want some help setting up my offer, how do I contact Bespoke?</h3>
<p>Please use the <%= link_to 'contact us', new_info_request_path %> web form.</p>
<h3>What happens after I submit my offer to you?</h3>
<p>The Bespoke Offers team will review your offer and suggest any changes to help make it as fair, accurate and as attractive as possible to Bespoke Offers consumers. We'll then send this back to you for your approval and once you're happy, schedule it to go live. </p>
</li>
<h3>When will my offer go live?</h3>
<p>You will specify the date that you would like the offer to go live and we will do our best to run the offer on your date. In the circumstances where we are unable to do this, we'll schedule a date for your offer to go live as close as possible to the date you've chosen.</p>
<h3>How often can I run an offer with Bespoke Offers?</h3>
<p>As often as you like.</p>
<h2>Promoting my offer to customers</h2>
<h3>How will customers see my offer?</h3>
<p>We'll make sure that your offer goes to the customers for whom it's most relevant. They could see your offer on an email from us, on our website or on our Bespoke Offers mobile app.</p>
<h3>How will I know how many customers have bought/downloaded my offer?</h3>
<p>You'll be able to see how many customers have bought or downloaded each of your live offers by logging in to your Bespoke Offers account. You will be able to access further information post-offer and you can also access any offer reporting from past offers.</p>
<h3>What if my offer sells out before the expiry date I set?</h3>
<p>Once you've reached your maximum number of vouchers we'll make sure your offer is not promoted anymore. If you have extra capacity and want to run this offer again you can click "copy offer" and submit this to us for verification and review again.   </p>
<h3>Can I run more than one offer at a time?</h3>
<p>Of course, you can run as many offers as you like at the same time.</p>
<h3>How will redemption work?</h3>
<p>Customers will have either a unique voucher code or an offer code that they will be able to use at your outlet, over the phone or on your website. Once you have the code from your customer, you need to check that it is valid by either logging in to your Bespoke Offers account and entering the code details under your particular offer, or you can print off a list of codes in advance, check them off as your customers come in and enter them onto the website in bulk at a later point. </p>
-->
<%= render 'shared/back_to_home' %>