<h1>BESPOKE OFFERS WEBSITE TERMS OF USE</h1>
<div class="box">
	<p>Please read these conditions carefully before using this website (the "Site").</p>

	<p>In these conditions "we", "us" and "our" means Barclays Bank PLC and "you" means the person using the Site.</p>

	<p>These conditions govern your use of the Site and by accessing the Site you agree to be bound by them.</p>

	<p>Please note that participation in Bespoke Offers is subject to separate conditions.</p>

	<p>We may change these conditions at any time without notice, but we will endeavour to inform you as soon as reasonably possible of any changes made.</p>

	<h2>USE OF THE SITE</h2>
	<p>We may in our sole discretion suspend or terminate access to the Site or your account for any reason, including without limitation where we believe that you have breached these Conditions. In any such event we will use reasonable endeavours to try and minimise any adverse impact you might encounter as a direct result of our suspension or termination.</p>

	<h2>COPYRIGHT AND INTELLECTUAL PROPERTY</h2>
	<p>The entire design and content of this Site is the proprietary property and copyright of Barclays Bank PLC and/or its licensors and all rights are reserved. The information on the Site is for your personal use only. You may not download, reproduce, copy, distribute, transmit or modify or otherwise use any part of the Site without our prior written permission. You may only print out parts of the Site for your own personal use. All Barclays Bank PLC related trade marks, including the Barclaycard and Bespoke Offers names and the Barclaycard and Bespoke Offers logos, brand and trade names, trade dress, designs and other visual identity elements used on this Site are the proprietary and intellectual property of Barclays Bank PLC and may not be used, copied, distributed, transmitted, modified or reproduced without our prior written consent. All other trade marks not owned by Barclays Bank PLC that appear in connection with the Site are the property of their respective owners, who may or may not be affiliated, connected to or sponsored by Bespoke Offers.</p>

	<h2>THIRD PARTY SITES</h2>
	<p>The Site may also contain some material provided by third parties and we accept no responsibility or liability for the accuracy of such material.</p>

	<p>Where we provide links or refer to other people's websites we are not endorsing their products or services. You use such links entirely at your own risk and we accept no responsibility or liability for the content, use or availability of these websites or for any loss or damage, however arising, suffered as a result of their use. We have not verified the truth or accuracy, and give no guarantees regarding, the correctness of the content of such websites.</p>

	<p>You may not link any other website to the Site or provide a link from this Site to another website without obtaining our prior written consent.</p>

	<h2>NO WARRANTY</h2>
	<p>Although we have taken all reasonable care to ensure that the information provided on this Site is accurate, we give no warranties of any kind, express or implied, with regard to the accuracy, timeliness or completeness of any such information.</p>

	<p>If we become aware that information provided on the Site or on a Voucher is inaccurate, we will do our best to correct this and, if appropriate, notify you as soon as possible.</p>

	<h2>NO LIABILITY</h2>
	<p>We will not be liable for any damages or any direct or indirect loss of any kind in connection with your use of, access to, or inability to use the Site or any failure or delay by us or our third party providers in performing our obligations. For the avoidance of doubt, this includes any loss of profit, income or business opportunity howsoever caused together with any loss arising from any computer virus or system failure. </p>

	<p>We may modify, withdraw or suspend the Site or any part of it, temporarily or permanently, without notice at any time.  We will not be liable to you or to any third party for any such modification, suspension or discontinuance of the Site, however we will use reasonable endeavours to try and minimise any adverse impact directly resulting from such suspension.</p>

	<h2>KEEPING YOUR LOG IN DETAILS SECURE</h2>
	<p>It is your responsibility to ensure that you do not share, disclose or in any way compromise any membership number, passwords, pass codes or memorable words.  Please ensure that you do not write details down and always take care when entering details to ensure you are not being overlooked.</p>

	<h2>PRIVACY POLICY</h2>
	<p>Please read our <%= link_to 'Privacy Policy', privacy_path %> carefully before using the Site.</p>

	<h2>GOVERNING LAW</h2>
	<p>English law governs these conditions and you agree that the English Courts shall have exclusive jurisdiction to determine any matter or dispute arising out of this site and these conditions.</p>
	<p>This Site is directed solely for access from the United Kingdom. If you choose to access this Site from other locations it is your responsibility to comply with all applicable local laws.</p>
</div>