<h1> Create a new user </h1>
<br>
<div class="column_left">
	<%= simple_form_for [:system, @user], :html=>{:class=>'form-horizontal'} do |f| %>
	  <%= render :partial => 'form', :locals => {:f => f, :text => 'Create user'} %>
	  <%= link_to 'Cancel', system_users_path, :class => 'btn btn-danger' %>
	<% end %>
</div>