<h1>Confirmation</h1>

<h3>Thank you for your enquiry. We'll be in touch soon.</h3>
<p>By email within the next 2 hours</p>
<p>(And/Or)</p>
<p>By telephone on 555.555.2341 at 1 P.M.</p>

<p>In the meantime, have a look at the <a href="#">consumer site</a> to get a feel for the kind of offers out there</p>
<%= link_to 'Return to homepage', root_path, :class => "back" %>