<div id="cookiesMessageBanner">
    We use cookies to give you the best browsing experience and to help us understand how
    you use our site. Cookies are small snippets of data stored on your computer and some
    have already been set. By continuing to use our website you are accepting our
    use of cookies. To find out more, read
    <%= link_to 'about cookies', privacy_path, target: '_new', title: 'About Cookies (opens in a new window)' %>
</div>
