<div class="ie6_alert">
Sorry, your current browser doesn’t support all of Bespoke Offer's wonderful features.<br>To enjoy all of the exciting content we have on offer, we suggest updating to a new web browser, such as <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a> or <a href="http://www.mozilla.org/en-US/firefox/features/">Firefox</a>.
</div>