<div class="footer_wrap">

  <div>
    <nav>
    <%= link_to 'Website Terms of Use', terms_path %>
    <%= link_to 'Privacy and Cookie Policy', privacy_path %>
    <%= link_to 'Help and Support', support_path %>
    <%= link_to 'Contact Us', new_info_request_path %>
    </nav>
  </div>

  <small>&#169; Barclaycard 2012 </small>

</div>
