<h3 id="no_js_message">You have javascript disabled in your browser. Please enable javascript to use bespoke offers.</h3>
<%= javascript_tag "document.getElementById('no_js_message').style.display = 'none';" %>