<h4>Barclays Account Info</h4>
<%= f.input :barclaycard_gpa_merchant, label: "Barclaycard Merchant Services Client" %>
<div id="barclaycard_gpa_number_fields">
  <%= f.input :barclaycard_gpa_number, label: "Barclaycard GPA number" %>
</div>
