<div class="box">
	<ul class="merchant_information">
		<li class="label"><p>Primary Category:</p></li>
		<li class="value"><p><%= merchant.primary_business_category %></p></li>
		<div class="clear"></div>
	</ul>
	<ul class="merchant_information">
		<li class="label"><p>Secondary Category:</p></li>
		<li class="value"><p><%= merchant.secondary_business_category %></p></li>
		<div class="clear"></div>
	</ul>
</div>