<div class="box">
	<ul class="merchant_information">
		<li class="label"><p>Gross Annual Turnover:</p></li>
		<li class="value"><p><%= merchant.gross_annual_turnover %></p></li>
		<div class="clear"></div>
	</ul>
</div>


