<div>
  <h3>Profile Info</h3>
  <p>Customer Service Email Address: <span class="customer_service_email_address"><%= merchant.customer_service_email_address %></span></p>
  <p>Customer Service Phone Number: <span class="customer_service_phone_number"><%= merchant.customer_service_phone_number %></span></p>
  <p>Business Logo: <span class="has_business_logo"><%= merchant.has_business_logo %></span></p>
</div>
