<div class="box">
	<h4>Signatures</h4>
	<ul class="merchant_information">
		<li class="label"><label for="terms_conditions_signature">Accepted Terms Conditions</label></li>
		<li class="value"><img id="terms_conditions_signature" src="#" width="400px" height="100px" alt="Signature"></li>
		<div class="clear"></div>
	</ul>
	<ul class="merchant_information">
		<li class="label"><label for="merchant_authorized_signature">Authorized by Merchant Signature</label></li>
		<li class="value"><img id="terms_conditions_signature" src="#" width="400px" height="100px" alt="Signature"></li>
		<div class="clear"></div>
	</ul>
	<ul class="merchant_information">
		<li class="label"><label for="barclays_authorized_signature">Authorized by Barclays Signature</label></li>
		<li class="value"><img id="terms_conditions_signature" src="#" width="400px" height="100px" alt="Signature"></li>
		<div class="clear"></div>
	</ul>
	<div class="clear"></div>
</div>