<h1>Sales</h1>

<div class="az_menu_container">
	<%= render 'sales/shared/search_merchants_form' %>

	<%= link_to "Add a New Merchant", new_sales_merchant_path, class: "create_new_merchant" %>
	<div class="clear"></div>
</div>